.appointments {
    display: flex;
    justify-content: center;
  }

  .appointments-header{
    display: flex;
    justify-content: end;
    max-width: 628px;
  }
  .availabilities-day-date {
    display: flex;
    margin-top: 2px;
  }
  .availabilities-day {
    margin-left: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .timing {
    min-width: 70px;
    min-height:35px;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 5px 15px;
    /* border: 1px solid #d4f4fe;
    background-color: #d4f4fe; */
    border-radius: 4px;
    font-weight: 700;
    background-color: white;
    border: 1px solid #950695;
    color: #950695;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
  }

  .timing-disabled{
    min-width: 70px;
    min-height:35px;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 0px 7px;
    border: 1px solid #703270;;
    background-color: white;
    border-radius: 4px;
    font-weight: 700;
    pointer-events: none;
    color: #950695
  }

  /* .timing:hover{
    background-color: #65b3cb;
    cursor: pointer;
  }

  .timing:focus{
    background-color: #65b3cb;
    cursor: pointer;
  } */

  /* .timing:hover,
  .timing:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
  } */

  .show-more{
    border: none;
    color: #275476;
    font-weight:500;
    text-decoration: none;
    background-color: white;
    /* color: #950695; */
    width: 15%;
  }

  /* .show-more:hover{
    color: #17639d;
    cursor: pointer;
  } */

  .show-more:hover,
  .show-more:focus, 
  .show-more:active {
    /* box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em); */
    /* color: #780b78; */
    cursor: pointer;
    background-color: white;
  }

.no-availabilities-div{
  align-items: center;
  display: flex!important;
  font-weight: 600;
  height: 100%;
  justify-content: center;
  padding-bottom: 20px;
  color:#dc3545
}

.actions-div{
  display: flex!important;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.empty-div{
  min-width: 30%
}

.loader{
  align-items: center;
  display: flex!important;
  font-weight: 600;
  height: 100%;
  justify-content: center;
  padding-top:100px;
  color: #950695;
}

.availabilities-day-name{
  font-weight: 700;
}

.availabilities-day-title {
  font-size: 14px;
  margin-bottom: 24px;
  text-align: center;
}

.button-next{
  border: none;
  background-color: white;
  cursor: pointer;
  color:black;
}

.next-button-svg{
  height: 24px;
  width: 24px;
}

.view-calender{
  border:none;
  background-color: white;
  cursor: pointer;
  color: #2a82c5
}

.view-calender-svg{
  height: 24px;
  width: 24px;
}

/* .book-slot{
  margin-left:20px;
} */

.book-slot{
  margin-left:20px;
  background-color: #4444d5;
  border: #4444d5;
}

.book-slot:disabled{
  margin-left:20px;
  background-color: #4444d5;
  border: #4444d5;
}

.book-slot:hover{
  background-color: #4444d5;
  border: #4444d5;
}

.home-button{
  background-color: rgb(255, 255, 255);
    display: inline-flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.54);
    box-shadow: rgb(98 85 149 / 90%) 1px 1px 10px;
    border-radius: 2px;
    border: 1px solid transparent;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    margin-right: 2px;
    background-color: #6c757d;
    color: white;
    justify-content: center;
}

.home-button:hover{
  background-color:#5c636a;
  color: white;
}

.header-search-by{
  padding-bottom: 5px;
  font-weight: 700;
}

.react-datepicker__month-dropdown-container{
  padding-right:15px;
}

.notification-success{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  font-weight:700;
}

.info-value{
  justify-content: center;
  display: flex;
}

.question-div{
  word-break: break-word;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.info-sub-header{
  font-weight: 600;
}

.padding-bottom-row{
  padding-bottom:30px;
  display: flex;
  justify-content: center;
}

.padding-left-style{
  padding-left: 10px;
}

.flex-style{
  display: flex;
  word-break: break-word;
  flex-direction: column;
}

.avatar{
  min-width: 60px;
  min-height: 55px;
}

.padding-top-fullname{
padding-top: 15px;
}

.min-width-day-column{
  min-width:105px;
}

.another-slot-hint{
  padding-top: 10px;
  padding-right: 10px;
  font-weight: 500;
  font-style: italic;
}

.min-width-notification{
  min-width: 50%;
  justify-content: center;
  display: flex;
  margin-bottom: 2px;
  flex-direction: column;
}

.border-main-div{
  padding-top: 20px;
  padding-bottom: 100px;
}

.container-border{
  max-width: 50%;
  border: 1px solid #d3c7c7;
  padding-bottom: 10px;
  margin-top: 10px;
}

.container-scheduler{
  max-width: 1230px;
  padding-top: 5px;
}

.padding-left-fullname{
  padding-left: 38px;
  display: flex;
  flex-direction: column;
}

.padding-top-content{
  padding-top: 10px;
  word-break: break-word;
}

.loginButton{
  display: flex;
  justify-content: end;
}

.logout-btn{
  background-color: rgb(255, 255, 255);
    display: inline-flex;
    align-items: center;
    color: #950695 !important;
    box-shadow: inset rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 1px 0px !important;
    border-radius: 2px;
    border: 1px solid transparent;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    margin-right: 2px;
}

.padding-login{
  padding-top: 5px;
  padding-bottom: 10px;
}

.display-end{
  display: flex;
  justify-content: end;
  word-break: break-word;
  font-weight: 600;
}

.table-row-style{
  padding-bottom: 5px;
}

.search-by-type-input{
  display: flex;
  justify-content: end;
}

.nav-link:hover{
  border-bottom: 2px solid #950695;
}

@media screen and (max-width: 500px) {
  .table-row-style{
    display: flex;
    flex-direction: column;
  }
  .scheduler-types-buttons{
    flex-direction: column;
  }
  .btn-scheduler-type{
    width:100%
  }
  .header-search-by{
    display: flex;
    justify-content: center;
  }
  .nav-tabs{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nav-item{
    display: flex;
    justify-content: center;
  }
  .nav-link{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .edit-pencil{
    display:block;
    cursor: pointer;
    fill: blue;
    margin-right:10px;
  }
  .cancel-trash{
    display:block;
    cursor: pointer;
    fill: red
  }
  .action-button-table{
    display: none;
  }

  .action-button-table-reschedule{
    display: none;
  }
  .action-button-table-cancel{
    display: none;
  }

  .pagination{
    flex-direction: column;
    width:100%
  }
  .info-sub-header{
    display: flex;
    justify-content: center;
  }
  .booking-value{
    display: flex;
    justify-content: center;
  }
  .page-link{
    width: 100%;
    justify-content: center;
    display: flex;
  }
  .booking-header{
    display: flex;
    justify-content: center;
  }
  .page-item{
    padding: 4px;
  }
  .slots-div{
    width: 30%;
  }
  .flex-style-resp{
    flex-direction: "column"; display: "flex";
    justify-content: center;
  }
  .padding-left-style-resp{
    padding-left:0px;
    width:10%;
  }

  .padding-left-style{
    padding-left: 0px;
  }

  .profile-style{
    display: flex;
    flex-direction: column-reverse;
  }

  .styled-profile{
    justify-content: start;
    display: flex;
    width: 100%;
    margin-left:10px;
  }

  .make-an-appointment{
    width:100%;
  }
  .success-confrm-value{
    display: flex;
    justify-content: center;
  }
  .loginButton{
    flex-direction: column;
  }
  .profile-dropdown{
    width: 100%;
  }
  .timing{
    width: 240px;
  }
  .timing-disabled{
    width: 240px;
  }

  .container-padding{
   margin-left: 60px ;
  }
  .show-more{
    width: 50%;
    padding-right: 60px;
  }
  .prev-btn-padding{
    padding-left: 0px;
    width: 15%;
  }
  .calender-margin{
    margin-left:3px;
  }
  .react-datepicker__input-container input {
    width: 105px;
  }
  
  .react-datepicker__input-container {
   left: -75px;
  }
  
  .react-datepicker{
    position:absolute !important;
    left: -180px !important;
  }

  .btn-prime{
    width:100%;
  }
  
  .btn-dang{
    width:100%;
  }
  .react-datepicker__input-container {
    padding-top:6px !important;
  }

  .search-by-type-input{
    display: flex;
    justify-content: center;
  }
  .react-autosuggest__input{
    width:100% !important;
  }
  .scheduler-types-col{
    padding-top:10px !important;
  }

  .header-nav{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  a:after{
    margin-top:5px;
  }
  .nav{
    flex-direction: column;
  }
  .dropdown-item{
    text-align: center;
  }
  .booking-header{
    text-align: center;
  }
  .find-by-input-div{
    padding-top:5px;
  }
  .btn-scheduler-type {
    width: 100%;
  }
  .dropdown-toggle-search {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .padding-left-style-resp{
    padding-left:0px;
  }
  .slots-div{
    width:50%
  }
}

@media screen and (min-width: 501px) {
  .edit-pencil{
    display:none;
  }
  .cancel-trash{
    display:none;
  }
  /* .action-button-table-reschedule {
    min-width: 106px;
    margin-bottom: 2px;
    margin-right: 5px;
    background-color: white;
    border: 1px solid #4444d5;
    color: #4444d5;
  }

  .action-button-table-reschedule:hover {
    min-width: 106px;
    margin-bottom: 2px;
    margin-right: 5px;
    background-color: #4444d5;
    border: 1px solid #4444d5;
    color: #4444d5;
  } */

  .action-button-table-cancel, .action-button-table-cancel:hover{
    min-width: 106px;
    margin-bottom: 2px;
    margin-right: 5px;
    background-color: white;
    border: 1px solid #a71616;
    color: #a71616;
  }
  .container-padding{
    padding-left: 0px ;
  }
  .flex-style-resp{
     display: "flex";
    justify-content: center;
  }
  
}

.page-navigation{
  display: flex;
  justify-content: center;
  padding-top:15px;
}

@media screen and (max-width: 420px) {
  .padding-left-style-resp{
    padding-left:0px;
    width:10%;
  }
  .calender-margin{
    margin-left:30px;
  }
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  min-height: 150px;
	height: 150px;
  background-image:  linear-gradient(#aeafff, #e5e5e5);
  min-height: 90px;
	height: 90px;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
  margin:10px;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.login-btn{
  justify-content: center;
}

.padding-bottom-style{
  padding-bottom: 5px;
}

.action-column-min-width{
  min-width: 21%;
}

.card-border{
  width: 700px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
}

.card-header{
  display: flex;
  justify-content: center;
  background-color: white;
  border-bottom: none;
}

.word-break-style{
  word-break: break-word;
}

.padding-top-style{
  padding-top: 0px;
  padding-bottom: 0px;
}

.style-padding-bottom{
  padding-bottom: 20px;
}

.card-footer{
  display: flex;
  justify-content: center;
  background-color: white;
  border-top: none;
}

.footer{
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  min-height: 52px;
  background-color: #f3ecec;
}

.social-container{
  width: 50% !important;
  height: 50% !important;
}

.footer-style{
  width:100%;
  bottom:0;
  position: absolute;
  background-color: #f8f9fa !important;
  color: #950695 !important;
}

.layout-main{
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
  min-height: 100vh;
}

.link-color-footer{
  color: #950695 !important;
}

.question-section-card{
  margin:10px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .calender-margin{
    margin-left:5px;
  }
}

@media screen and (max-width: 730px) {
  .calender-margin{
    margin-left:10px;
  }
}

@media screen and (max-width: 650px) {
  .calender-margin{
    margin-left:15px;
  }
  .show-more{
    width: 20%;
  }
}

@media screen and (max-width: 400px) {
  .calender-margin{
    margin-left:30px;
  }
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 0px;
  /* border: 2px solid #d53bd5; */
  box-shadow: rgb(221 61 241 / 88%) 1px 1px 10px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  /* position: absolute; */
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.back-button{
  background-color: white;
  border: none;
  color: #950695;
  margin-top: 5px;
  font-weight: 600;
  text-decoration: none;
  padding-left:0px;
}

.react-datepicker__input-container{
  display: none !important;
}

.react-datepicker-popper{
  padding-top:0px !important;
}

.logout-btn:hover, .logout-btn:focus, .logout-btn:active {
  background-color: transparent !important;
}

/* .dropdown-item:hover{
  background-color: white !important; 
} */

.scheduler-types-col{
  padding-top:10px !important;
}


.btn-prime{
  background-color: #4444d5;
}

.btn-dang{
  background-color:#a71616;
}

.back-button{
  background-color: white;
  border: none;
  color: #950695;
  margin-top: 5px;
  font-weight: 600;
  text-decoration: none;
  padding-left:0px;
}

.back-button:hover,
.back-button:focus,
.back-button:active{
  background-color: white;
  border: none;
  color: #950695;
}

.cancel-slot{
  margin-left:20px;
  background-color: #a71616;
  border: #a71616;
}

.cancel-slot:disabled{
  margin-left:20px;
  background-color: #a71616;
  border: #a71616;
}

.cancel-slot:hover{
  margin-left:20px;
  background-color: #a71616;
  border: #a71616;
}

.nav-link, .nav-link:hover{
  color: #950695;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
}

.profile-dropdown, .profile-dropdown:hover{
 background-color: #7c087c;
}

.show-more:disabled{
  /* color: #950695; */
  background-color: white;
}

.btn-prime:disabled{
  background-color: #4444d5;
}

/* .dropdown-item:focus{
  background-color: white !important;
} */
/* .dropdown-item:active{
  background-color: white !important;
} */

.react-datepicker__input-container{
  display: none !important;
}

.react-datepicker-popper{
  padding-top:0px !important;
}

.back-button:active{
  background-color: none;
}

.dropdown-item{
  color: #950695 !important;
}

.dropdown-menu:hover .logout-btn {
  background-color: transparent !important;
}

/* .action-button-table-reschedule{
  color: #29272c;
    background: linear-gradient(128deg,#b85db8 0%,#992986 50%, #850a7e 100%);
    transition: .25s ease-in-out;
    background-size: 200% 100%;
}

.action-button-table-reschedule:hover{
  color: white;
  background-size: 50% 200%;
  font-weight:600;
} */

/* .action-button-table-cancel{
  color: #29272c;
    text-decoration: none;
    font-weight: 700;
    background: linear-gradient(128deg,#a86664 0%,#b34444 50%, #d13429 100%);
    transition: .25s ease-in-out;
    background-size: 200% 100%;
}

.action-button-table-cancel:hover{
  color: white;
    background-size: 100% 50%;
} */

.action-button-table-reschedule{
  border: 1px solid #550fc5f2;
  background-color: white;
  color: #550fc5f2;
  transition: width 2s, height 2s, background-color 1.5s, transform 2s;
  margin-right: 5px;
}

.action-button-table-reschedule:hover{
  border: 1px solid #550fc5f2;
  background-color: #550fc5f2;
  color: white;
  font-weight:500;
}

.action-button-table-cancel{
  border: 1px solid #a71616;
  background-color: white;
  color: #a71616;
  transition: width 2s, height 2s, background-color 1.5s, transform 2s;
}

.action-button-table-cancel:hover{
  border: 1px solid #a71616;
  background-color: #a71616;
  color: white;
  font-weight:500;
}

/* background: linear-gradient(128deg,#e919e9 0%, #930ec5 100%); */

.timing:hover {
  background-color: #960157;
  font-weight:700;
  color:white;
}

.btn-scheduler-type, .btn-scheduler-type:disabled{
  border-radius:0px;
  /* border: 2px solid #d53bd5; */
  box-shadow: rgb(221 61 241 / 88%) 1px 1px 10px;
}

.find-by-input{
  background-color: var(--bui_color_accent_background);
    border-radius: var(--bui_border_radius_200);
    box-shadow: var(--bui_shadow_100);
    display: flex;
    margin: var(--bui_spacing_6x) 0 var(--bui_spacing_4x);
    padding: var(--bui_spacing_1x);
    position: relative;
    width: 100%;
    justify-content: center;
    /* border: 1px solid #950695; */
    /* box-shadow: rgb(221 61 241 / 88%) 1px 1px 10px; */
}

/* .testing-in-div:first-child {
  flex: 1 1 auto;
  margin-left: 0;
} */

.testing-in-dev{
  background-color: var(--bui_color_white);
    border-radius: var(--bui_border_radius_100);
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    margin-left: var(--bui_spacing_1x);
}

@media screen and (max-width: 860px) {
  .find-by-input{
    flex-direction: column !important;
  }

  .find-by-input-div{
    padding-top:5px;
  }

  .testing-in-dev{ 
      flex-direction: column !important;
  }
  .btn-scheduler-type{
    width:100%;
  }
  .react-autosuggest__container{
    padding-top:2px;
  }
  .testing-in-div{
    padding-top:2px;
  }
  .booking-header{
    text-align: center;
  }
  .btn-scheduler-type {
    width: 100%;
  }
  .dropdown-toggle-search {
    width: 100%;
  }
}

.dropdown-toggle-search{
  margin-left: 5px;
  padding-top: 0px;
  margin-top: 5px;
}

.sort-style{
  border-bottom:1px solid #937979;
  cursor: pointer;
}





  