.appointments {
    display: flex;
    justify-content: center;
  }

  .appointments-header{
    display: flex;
    justify-content: end;
    max-width: 628px;
  }
  .availabilities-day-date {
    display: flex;
    margin-top: 2px;
  }
  .availabilities-day {
    margin-left: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .timing {
    min-width: 70px;
    min-height:35px;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 5px 15px;
    border: 1px solid #ffffff;
    background-color: #d4f4fe;
    border-radius: 4px;
    font-weight: 700;
  }

  .timing-disabled{
    min-width: 70px;
    min-height:35px;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 0px 7px;
    border: 1px solid #ffffff;
    background-color: #d4f4fe;
    border-radius: 4px;
    font-weight: 700;
    pointer-events: none;
    color: #c72d3c
  }

  .timing:hover{
    background-color: #65b3cb;
    cursor: pointer;
  }

  .timing:focus{
    background-color: #65b3cb;
    cursor: pointer;
  }

  .show-more{
    border: none;
    background-color: white;
    color: #275476;
    font-weight:500;
    text-decoration: none;
    /* padding-bottom: 100px */
  }

  .show-more:hover{
    color: #17639d;
    cursor: pointer;
  }

/* .show-more-div{
  align-items: center;
  display: flex!important;
  font-weight: 700;
  height: 100%;
  justify-content: center;
} */

.no-availabilities-div{
  align-items: center;
  display: flex!important;
  font-weight: 600;
  height: 100%;
  justify-content: center;
  padding-bottom: 20px;
  color:#dc3545
}

.actions-div{
  /* align-items: center; */
  display: flex!important;
  /* font-weight: 700; */
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

/* .actions-div-scheduler{
  display: flex!important;
  justify-content: center;
} */

.empty-div{
  min-width: 30%
}

.loader{
  align-items: center;
  display: flex!important;
  font-weight: 600;
  height: 100%;
  justify-content: center;
  padding-top:150px;
}

.availabilities-day-name{
  font-weight: 700;
}

.availabilities-day-title {
  font-size: 14px;
  margin-bottom: 24px;
  text-align: center;
}

.button-next{
  border: none;
  background-color: white;
  cursor: pointer;
  color:black;
}

.next-button-svg{
  height: 24px;
  width: 24px;
}

.view-calender{
  border:none;
  background-color: white;
  cursor: pointer;
  color: #2a82c5
}

.view-calender-svg{
  height: 24px;
  width: 24px;
}

.book-slot{
  margin-left:20px;
}

.home-button{
  background-color: rgb(255, 255, 255);
    display: inline-flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.54);
    box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;
    /* padding: 0px; */
    border-radius: 2px;
    border: 1px solid transparent;
    /* font-size: 14px; */
    /* font-weight: 500; */
    font-family: Roboto, sans-serif;
    text-decoration: none;
}

.header-search-by{
  padding-bottom: 5px;
  font-weight: 700;
}

.react-datepicker__month-dropdown-container{
  padding-right:15px;
}

.notification-success{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  font-weight:700;
}

.info-value{
  justify-content: center;
  display: flex;
}

.question-div{
  word-break: break-word;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.info-sub-header{
  font-weight: 600;
}

.padding-bottom-row{
  padding-bottom:30px;
  display: flex;
  justify-content: center;
}

.padding-left-style{
  padding-left: 10px;
}

.flex-style{
  display: flex;
}

.avatar{
  min-width: 60px;
  min-height: 55px;
}

.padding-top-fullname{
padding-top: 15px;
}

.min-width-day-column{
  min-width:105px;
}

.another-slot-hint{
  padding-top: 10px;
  padding-right: 10px;
  font-weight: 500;
  font-style: italic;
}

.min-width-notification{
  min-width: 50%;
  justify-content: center;
  display: flex;
  margin-bottom: 2px;
}

.border-main-div{
  border: 1px solid rgb(233 218 218);
  /* border-left: 1px solid rgb(233 218 218);
  border-right: 1px solid rgb(233 218 218);
  border-bottom: 1px solid rgb(233 218 218); */
  padding-top: 20px;
  padding-bottom: 100px;
}

.container-border{
  max-width: 50%;
  border: 1px solid #d3c7c7;
  padding-bottom: 10px;
  margin-top: 10px;
}

.container-scheduler{
  max-width: 1230px;
}

.padding-left-fullname{
  padding-left: 38px;
  display: flex;
  flex-direction: column;
}

.padding-top-content{
  padding-top: 10px;
  word-break: break-word;
}

.loginButton{
  display: flex;
  justify-content: end;
}

.padding-login{
  padding-top: 5px;
  padding-bottom: 10px;
}

.display-end{
  display: flex;
  justify-content: end;
  word-break: break-word;
}

@media screen and (max-width: 500px) {
  .table-row-style{
    display: flex;
    flex-direction: column;
  }
  .scheduler-types-buttons{
    flex-direction: column;
  }
  .btn-scheduler-type{
    width:100%
  }
  .header-search-by{
    display: flex;
    justify-content: center;
  }
  .nav-tabs{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nav-item{
    display: flex;
    justify-content: center;
  }
  .nav-link{
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 450px) {
.action-button-table{
  display: flex;
    flex-direction: row;
  }
}

  