.appointments {
    display: flex;
    /* padding: 20px; */
    justify-content: center;
  }

  .appointments-header{
    display: flex;
    justify-content: end;
    max-width: 628px;
  }
  .availabilities-day-date {
    display: flex;
    margin-top: 2px;
  }
  .availabilities-day {
    margin-left: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .timing {
    min-width: 70px;
    min-height:35px;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 5px 15px;
    border: 1px solid #ffffff;
    background-color: #d4f4fe;
    border-radius: 4px;
    font-weight: 700;
  }

  .timing-disabled{
    min-width: 70px;
    min-height:35px;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 0px 7px;
    border: 1px solid #ffffff;
    background-color: #d4f4fe;
    border-radius: 4px;
    font-weight: 700;
    pointer-events: none;
    color: #c72d3c
  }

  .timing:hover{
    background-color: #65b3cb;
    cursor: pointer;
  }

  .timing:focus{
    background-color: #65b3cb;
    cursor: pointer;
  }

  .show-more{
    border: none;
    background-color: white;
    color: #275476;
    font-weight:500;
    text-decoration: none;
  }

  .show-more:hover{
    
    color: #17639d;
    cursor: pointer;
  }

.show-more-div{
  align-items: center;
  display: flex!important;
  font-weight: 700;
  height: 100%;
  justify-content: center;
}

.no-availabilities-div{
  align-items: center;
  display: flex!important;
  font-weight: 600;
  height: 100%;
  justify-content: center;
  padding-bottom: 20px;
  color:#dc3545
}

.actions-div{
  align-items: center;
  display: flex!important;
  font-weight: 700;
  /* height: 100%; */
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.questions-div{
  /* align-items: center;
  display: flex!important;
  flex-direction: column; */
  font-weight: 600;
  height: 100%;
  min-width:22%;
  /* justify-content: center;
  padding-bottom: 20px; */
  padding-top: 20px;
  /* padding-left: 160px; */
}

.empty-div{
  min-width: 30%
}

.loader{
  align-items: center;
  display: flex!important;
  font-weight: 600;
  height: 100%;
  justify-content: center;
  padding-top:150px;
}

.availabilities-day-name{
  font-weight: 700;
}

.availabilities-day-title {
  font-size: 14px;
  margin-bottom: 24px;
  text-align: center;
}

/* .button-prev{
  border: none;
  background-color: white;
  cursor: pointer;
  color:black;
} */

.button-next{
  border: none;
  background-color: white;
  cursor: pointer;
  color:black;
}

.next-button-svg{
  height: 24px;
  width: 24px;
}

/* .prev-button-svg{
  height: 24px;
  width: 24px;
} */

.view-calender{
  border:none;
  background-color: white;
  cursor: pointer;
  color: #2a82c5
}

.view-calender-svg{
  height: 24px;
  width: 24px;
}

.book-slot{
  margin-left:20px;
  /* background-color: #2579ba;
  border: none;
  border-radius: 4px;
  min-width: 65px;
  min-height: 32px;
  font-size: 15px;
  cursor: pointer; */
}

.questions-section{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.selected-time{
  font-size: 14px;
  font-weight: 600;
}

.back-button{
  padding-right:50px;
}

.header-search-by{
  padding-top: 10px;
  padding-bottom: 5px;
  font-weight: 700;
}

@media only screen and (max-width: 850px) {
  .main-div  {
    padding-left:100px;
  }
}

@media only screen and (max-width: 745px) {
  .main-div  {
    padding-left:150px;
  }
}

@media only screen and (max-width: 720px) {
  .main-div  {
    padding-left:150px;
  }
}

@media only screen and (max-width: 670px) {
  .main-div  {
    padding-left:260px;
  }
}

@media only screen and (max-width: 570px) {
  .main-div  {
    padding-left:350px;
  }
}

@media only screen and (max-width: 520px) {
  .main-div  {
    padding-left:300px;
  }
}

@media only screen and (max-width: 480px) {
  .main-div  {
    padding-left:380px;
  }
}

.react-datepicker__month-dropdown-container{
  padding-right:15px;
}

.notification-success{
  /* color: #28a745; */
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-weight:700;
}

.notification-error{
  color: #dc3545;
  display: flex;
  justify-content: center;
}

.main-questions-div{
  display:flex;
  justify-content: center;
  padding-top:10px;
}

.profile-info{
  min-width:36%;
  padding-top: 40px;
  padding-left: 15px;
}

.info-value{
  justify-content: center;
  display: flex;
  /* max-width: 400px; */
  /* word-wrap: break-word; */
}

.question-div{
  /* max-width: 350px; */
  word-break: break-word;
  display: flex;
  justify-content: center;
}

.info-sub-header{
  font-weight: 600;
}


/* 
@media (min-width: 992px){
.container {
    max-width: 960px;
}
}
@media (min-width: 768px){
.container {
    max-width: 720px;
}
}
@media (min-width: 576px){
.container {
    max-width: 540px;
}
} */

.padding-top-div{
  padding-top:30px;
}

.padding-bottom-row{
  padding-bottom:30px;
  display: flex;
  justify-content: center;
}

.padding-left-style{
  padding-left: 10px;
}

.flex-style{
  display: flex;
}

.avatar{
  /* display: flex;
  align-items: center; */
  min-width: 50px;
  min-height: 50px;
}

.padding-top-fullname{
padding-top: 15px;
}

/* @media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1300px;
}
} */

.min-width-day-column{
  min-width:100px;
}

.another-slot-hint{
  padding-top: 8px;
  padding-right: 10px;
  font-weight: 500;
  font-style: italic;
}

/* @media (max-width: 990px){
  .content-div-confirmation {
    padding-right: 110px;
    display: flex;
    justify-content: center;
  }
} 

@media (max-width: 650px){
  .content-div-confirmation {
    padding-right: 200px;
    display: flex;
    justify-content: center;
  }
}  */

.content-div-confirmation {
  display: flex;
  justify-content: center;
}
.min-width-notification{
  min-width: 30%;
  justify-content: center;
  display: flex;
}

.border-main-div{
  border: 1px solid rgb(233 218 218);
  padding-top: 20px;
  padding-bottom: 100px;
}
/* .confirmation-section-col{
  border: 1px solid rgb(233 218 218);
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 50px;
  padding-left: 50px;
} */

.container-border{
  max-width: 50%;
  border: 1px solid #d3c7c7;
  padding-bottom: 10px;
  padding-top: 0px;
  margin-top: 10px;
}


  